URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.fading: 0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell: true
URxvt.saveLines: 100000
URxvt.internalBorder: 3
URxvt.lineSpace: 0
! URxvt.iconFile: /home/alpi/Documents/prjct/utilities_terminal.png

! Fonts
URxvt*font: xft:LiberationMono-Regular.ttf:pixelsize=14
URxvt*boldFont: xft:Monospace:pixelsize=16

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

! Perl extensions
URxvt.perl-ext-common: default,matcher,tabbed,clipboard
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

*background: #002b36
*foreground: #839496

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

!URxvt.tabbed.saveLines: 1000
!URxvt.tabbed.scrollBar: false
!URxvt.tabbed.tabbar-fg: 3
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 0
!URxvt.tabbed.tab-bg: 1
!URxvt.tabbed.secondaryScroll: true
!URxvt.tabbed.font: xft:Bitstream Vera Sans Mono:pixelsize=8
!URxvt*inheritPixmap: true 
!URxvt*shading: 15
